/* Create.module.css */
.container {
    background: linear-gradient(135deg, #f8cdda 0%, #1d2b64 100%);
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    position: relative; 
    margin-top: 30px;
}

.inputField {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #000;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.selectField {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
}

.selectField {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
}

.addButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.addButton:hover {
    background-color: #45a049;
}

.submitButton {
    background-color: #0070f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #0056b3;
}

.ingredientRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

 .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .loadingBg {
    background-color: #000000; 
  }
  
  @keyframes spinner {
    to { transform: rotate(360deg); }
  }
  
  .loadingSpinner {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spinner 1s linear infinite;
  }

  .removeButton {
    background-color: #ff1744; 
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
  }
  
  .removeButton:hover {
    background-color: #e31432; 
  }

  .backButton {
    background-color: #f8cdda; 
    color: #1d2b64;
    padding: 8px 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #e7b9d6; 
}

